{{> head }}


    
    {{> navbar }}

   <div class="row">
       <div class="col-8">
           <h1>Algo aqui</h1>
       </div>
<div class="col-8">
         <img src="/assets/img/Monkey.png" class="img-thumbnail">
       </div>

   </div>


    {{> footer}}